* {
  margin: 0;
  padding: 0;
}

h1, h2 {
  text-align: center;
  color: #673ab7;
}
h2 {
  margin-top: 50px; 
}

body {
  background: url(image.jpg) center center/cover no-repeat;
}

.works{
  text-align: center;
  margin-top: 100px;
  color: white;

}

.work a {
  color: white;
}

footer {
  text-align: center;
  color: white;
  margin-top: 250px;  
}

